html {
font-family: 'Cabin', sans-serif;
}
.center {
    width: 960px;
    max-width: 100%;
    margin: auto;
}
ul {
   list-style: none;
}
.main-ul li {
    display: inline-block;
    margin-right: 10px;
}