html {
font-family: 'Questrial', sans-serif;
}
.center {
    width: 960px;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}
ul {
   list-style: none;
}
.main-ul li {
    display: inline-block;
    margin-right: 10px;
}
a {
   text-decoration: none;
    color: black;
}
.logo a{
    color: #69D2E7;
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    min-height: 100vh;
}
 
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex: 1;
}
.main-footer{
    background: #E4E4E4;
    height: 40px;
    padding: 15px 0;
}
html, body {
   margin: 0;
   padding: 0;
}
.social-links {
    float: right;
    font-size: 22px;
    margin-top: 13px;
}
.main-footer p { 
    float: left; 
}
.the-icons{
    color: #69D2E7;
}
.the-icons:hover{
    color: #000000;
}
.main-ul{
    margin: 0;
    padding: 0;
}
.logo{
    float: left;
    display: inline-block;
}
.main-nav {
    float: right;
    position: relative;
    top: 30px
}
.main-nav a:hover {
             color: #69D2E7;
         }
.main-img{
    height: auto;
    max-width: 100%;
}