html {
font-family: 'Questrial', sans-serif;
}
.center {
    width: 960px;
    max-width: 100%;
    margin: auto;
}
ul {
   list-style: none;
}
.main-ul li {
    display: inline-block;
    margin-right: 10px;
}
a {
   text-decoration: none;
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    min-height: 100vh;
}
 
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex: 1;
}
.main-footer{
    background: #E4E4E4;
    height: 40px;
    padding: 15px 0;
}
html, body {
   margin: 0;
   padding: 0;
}
.social-links {
    float: right;
    font-size: 30px;
    background-color: #000000;
}